* {
    margin: 0;
    padding: 0;
}
.game-container {
    text-align: center
}
ul {
    list-style: none;
    padding-left: 0;
}
ul li {
    display: inline-block;
    width: 23%;
    margin: 1%;
    height: 125px;
    line-height: 140px;
    text-align: center;
    background: #333;
    color: #eee;
}
ul li.show i {
    opacity: 1;
}
ul li i {
    font-size: 40px;
    opacity: 0;
    transition: all 300ms ease;
}

.modal {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    z-index: 99;
    transition: all 300ms ease;
}
.modal .inner {
    width: 50%;
    margin: 20% auto;
    padding: 2em;
    text-align: center;
    background: #fff;
    box-shadow: 0px 0px 4px 1px #444;
}
.modal .inner h2 {
    margin-bottom: 1em
}
.modal .inner p {
    margin-bottom: 1em
}
.modal .inner button {
    padding: 0.5em 3em;
    border: 0;
    background: #eee;
    box-shadow: 1px 1px 5px 0px #ccc;
    cursor: pointer;
}
